<div class="cold-md6 offset-md-3">
    <div class="card">
        <div class="card-header">
            Tareas
        </div>
        <div class="card-body">
        </div>
        <card class="footer">
            <form action="/nuevocontacto" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
               <div class="form-group">
                    <input type="text" name="telefono" placeholder="Teléfono" class="form-control">
                </div>
                <button  class="btn btn-primary btn-block">
                    Aceptar
                </button>
             </form>
        </card>
    </div>
</div>